<div class="spg-marker-editor">
  <div *ngIf="point">
    <div class="spg-marker-editor__header">
      {{'marker-editor.header' | translate: {pointId: point.id} }}
    </div>
    <div class="spg-marker-editor__actions">
      <spg-icon-button iconId="cancel" [title]="'marker-editor.deselect' | translate" class="spg-marker-editor__deselect" (click)="deselect()">
      </spg-icon-button>
      <spg-icon-button iconId="delete_forever" [title]="'marker-editor.delete' | translate" class="spg-marker-editor__deselect" title="Delete this marker" (click)="delete()">
        {{'marker-editor.delete' | translate}}
      </spg-icon-button>
    </div>
    <div class="spg-marker-editor__panorama">
      <mat-checkbox (change)="pointChanged()" [(ngModel)]="point.hasDirection">{{'marker-editor.hasdirection.label' | translate}}</mat-checkbox>
      <mat-slider
        class="spg-marker-editor__slider"
        [min]="0"
        [max]="360"
        (change)="pointChanged()"
        [(ngModel)]="point.direction"
        *ngIf="point.hasDirection"
      ></mat-slider>
    </div>
  </div>
  <p class="spg-marker-editor__instruction" *ngIf="!point">{{'marker-editor.select-instruction' | translate}}</p>
</div>
