@import '../../../styles';

.spg-marker-editor {
  margin: 10px 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-gray;
    font-style: italic;
  }

  &__instruction {
    color: $color-gray;
    font-style: italic;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }

  &__panorama {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__slider {
    width: 200px;
  }
}
