.spg-marker-editor {
  margin: 10px 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #888;
    font-style: italic;
  }

  &__instruction {
    color: #888;
    font-style: italic;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__panorama {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
