.spg-clusterpoint {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &--debug {
    border: 1px solid #000;
  }

  &__number {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 5px;
    border: 2px solid #03a9f4;
    border-radius: 100%;
    background: #fff;
    font-weight: bold;
    user-select: none;
  }
}
