@import "../../../app.component.less";

.spg-marker-editor {
  display: flex;

  &__independent-actions {
    display: flex;
    padding: 5px;
  }

  &__selected-content {
    background: #fff;
    padding: 10px;
    border: 1px solid #bbb;
    border-bottom-left-radius: 4px;
    color: #333;
    flex-grow: 1;
  }

  &__description-inner {
    display: flex;
    border-bottom: 1px solid #bbb;
    margin-bottom: 10px;
  }

  &__exit-selected {
    margin-left: auto;
    cursor: pointer;
    user-select: none;
  }

  &__actions {
  }

  &__has-direction {
    margin-right: auto;
  }
  &__settings {
    display: flex;
    align-items: center;
    border-top: 1px solid #cccccc;
    margin-top: 10px;
    padding-top: 10px;
  }

  &__action-item {
    .spg-rounded-icon-button;
  }
  &__direction-settings {
    flex-grow: 1;
    margin-left: 10px;
  }
}