<div class="spg-marker-editor">
  <div class="spg-marker-editor__independent-actions">
    <span class="spg-marker-editor__action-item" (click)="toggleCreateMode()">
      <i class="material-icons" title="Create new marker" *ngIf="!markerCreateMode">
        add_box
      </i>
      <i class="material-icons" title="Cancel adding marker" *ngIf="markerCreateMode">
        cancel
      </i>
    </span>
    <span class="spg-marker-editor__action-item" (click)="zoomToAllMarkers()">
      <i class="material-icons" title="Zoom to all markers">
        zoom_out_map
      </i>
    </span>
  </div>
  <div class="spg-marker-editor__selected-content">
    <div class="spg-marker-editor__description">
      <div *ngIf="!markerPoint">No marker selected, click a marker to load and edit</div>
      <div class="spg-marker-editor__description-inner" *ngIf="markerPoint">
        Selected marker: {{markerPoint.id}}
        <span class="spg-marker-editor__exit-selected" >
          <i class="material-icons" title="Quit from editing this marker" (click)="quitSelected()">
            close
          </i>
        </span>
      </div>
    </div>
    <div class="spg-marker-editor__actions" *ngIf="markerPoint">
      <span class="spg-marker-editor__action-item" (click)="deleteMarker()">
        <i class="material-icons" title="Delete this marker" >
          delete_forever
        </i>
      </span>
      <span class="spg-marker-editor__action-item" (click)="panToSelectedMarker()">
        <i class="material-icons" title="Zoom to the selected marker" >
          center_focus_weak
        </i>
      </span>
      <span class="spg-marker-editor__action-item" (click)="setCurrentZoomAsMaxVisibleDirection()">
        <i class="material-icons" title="Set the current zoom level as the lowest zoom where the direction is displayed" >
          arrow_upward
        </i>
      </span>
    </div>
    <div class="spg-marker-editor__settings" *ngIf="markerPoint">
      <mat-checkbox
              class="spg-marker-editor__has-direction"
              [(ngModel)]="markerPoint.hasDirection"
              (change)="markerIsUpdated($event)"
      >Has direction</mat-checkbox>
      <mat-slider
              class="spg-marker-editor__direction-settings"
              *ngIf="markerPoint.hasDirection"
              [(ngModel)]="markerPoint.direction"
              [min]="1"
              [max]="360"
              (change)="markerIsUpdated($event)"
      ></mat-slider>
    </div>
    <div *ngIf="markerPoint && markerPoint.hasDirection">min zoom where direction is displayed: n</div>
  </div>
</div>
