<mat-card class="spg-map-overlay-control">
    <div class="spg-map-overlay-control__title">Avalaible Maps on the current zoom</div>
    <ul class="spg-map-overlay-control__items">
        <li
                class="spg-map-overlay-control__item"
                [ngClass]="{'spg-map-overlay-control__item--is-top': isGoogleMapOnTop}"
                (click)="onGoogleMapsClicked()"
        >
            <div class="spg-map-overlay-control__item-dated">Present</div>
            <div class="spg-map-overlay-control__item-title">Google maps</div>
        </li>
        <li
                *ngFor="let overlay of mapOverlayItems"
                class="spg-map-overlay-control__item"
                [ngClass]="{'spg-map-overlay-control__item--is-top': overlay.isTop, 'spg-map-overlay-control__item--is-under-top': overlay.isUnderTop}"
                (click)="onItemClicked(overlay)"
        >
            <div class="spg-map-overlay-control__item-dated">{{overlay.dated}}</div>
            <div
                class="spg-map-overlay-control__item-title"
            >{{overlay.name}}</div>
            <div class="spg-map-overlay-control__item-controls" *ngIf="overlay.isTop">
                <mat-slider
                    class="spg-map-overlay-control__item-opacity-slider"
                    [min]="0"
                    [max]="100"
                    [(ngModel)]="overlay.opacity"
                ></mat-slider>
                <span class="spg-map-overlay-control__item-zoom-to-boundaries">Zoom to boundaries</span>
            </div>
        </li>
    </ul>
</mat-card>
