<div class="spg-map-overlay-control">
    <div class="spg-map-overlay-control__onmap-block">
        <div class="spg-map-overlay-control__displayed-title">Compared maps</div>
        <span
            class="spg-map-overlay-control__swap-compared-items spg-rounded-icon-button--small"
            *ngIf="comparedOverlays && comparedOverlays[0] && comparedOverlays[1]"
        >
          <i class="material-icons" title="Swap compared maps" (click)="swapComparedItems()">
            swap_vert
          </i>
        </span>
        <div class="spg-map-overlay-control__onmap-item" *ngFor="let overlay of comparedOverlays">
            <div *ngIf="overlay">
                <div class="spg-map-overlay-control__onmap-item-top">
                    <span class="spg-map-overlay-control__onmap-item-date">{{overlay.dated}}</span>
                    <span class="spg-map-overlay-control__onmap-item-name">{{overlay.name}}</span>
                </div>
                <div class="spg-map-overlay-control__onmap-item-bottom">
                    <mat-slider
                            class="spg-map-overlay-control__onmap-opacity"
                            [min]="0"
                            [max]="100"
                            [(ngModel)]="overlay.opacity"
                    ></mat-slider>
                    <span
                            class="spg-map-overlay-control__onmap-zoomto"
                            (click)="onFitBoundsClicked(overlay)"
                    >
                       <i class="material-icons">zoom_out_map</i>
                    </span>
                    <span
                            class="spg-map-overlay-control__onmap-remove"
                            (click)="removeFromCompare(overlay)"
                    >
                       <i class="material-icons">close</i>
                    </span>
                </div>
            </div>
            <div *ngIf="!overlay" class="spg-map-overlay-control__onmap-empty-item">
                Add a map from below
            </div>
        </div>
        <div class="spg-map-overlay-control__onmap-item">
            <div class="spg-map-overlay-control__onmap-item-top">
                <span class="spg-map-overlay-control__onmap-item-date">Now</span>
                <span class="spg-map-overlay-control__onmap-item-name">Google maps</span>
            </div>
        </div>
        <div class="spg-map-overlay-control__collection-title">Avalaible Maps</div>
    </div>
    <ul class="spg-map-overlay-control__items">
        <li
                *ngFor="let overlay of mapOverlayItems"
                class="spg-map-overlay-control__item"
                [ngClass]="{'spg-map-overlay-control__item--displayed': overlay.isDisplayed}"
                (click)="onItemClicked(overlay)"
        >
            <div class="spg-map-overlay-control__item-dated">
                <div class="spg-map-overlay-control__item-dated-number">
                    <span>{{overlay.dated}}</span>
                    <i class="material-icons spg-map-overlay-control__item-visibility">
                        visibility
                    </i>
                </div>
                <div class="spg-map-overlay-control__item-dated-line"></div>
            </div>
            <div class="spg-map-overlay-control__item-content">
                <div
                        class="spg-map-overlay-control__item-title"
                >
                    {{overlay.name}}
                </div>
            </div>
        </li>
    </ul>
</div>
