@import '../map/map.component.less';
.spg-map-overlay-control {
  background: #ffffff;
  @top-border-width: 4px;
  @secondtop-border-width: 2px;
  @date-line-height: 22px;

  &__title {
    text-transform: uppercase;
  }
  &__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    padding: 5px;
    user-select: none;
    color: #333;
    display: flex;
    &--is-top,
    &:hover {
      font-weight: 600;
    }
    &--is-under-top {
      border-left: @secondtop-border-width solid #999;
      margin: 0 -@secondtop-border-width;
    }
  }
  &__item-dated {
    font-size: 14px;
    color: #555;
    display: flex;
    &:after {
      content: '';
      border-bottom: 1px solid #555555;
      display: block;
      margin-top: @date-line-height / 2;
      flex-grow: 1;
    }
    width: 33%;
  }
  &__item-title {
  }
  &__item-content {
    width: 66%;
  }
  &__item-controls {
    display: flex;
  }
  &__item-opacity-slider {
    width: 100%;
    margin-right: 30px;
  }
  &__item-zoom-to-boundaries {
    margin-left: auto;
    font-size: 11px;
    font-weight: normal;
  }
}