@import '../map/map.component.less';
.spg-map-overlay-control {
  background: #ffffff;
  @top-border-width: 4px;
  @secondtop-border-width: 2px;
  @date-line-height: 22px;
  @border-color: #ccc;
  font-family: lora, serif;

  &__title {
    text-transform: uppercase;
  }
  &__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  &__item {
    padding: 5px;
    user-select: none;
    color: #333;
    display: flex;
    align-items: flex-start;
    position: relative;
    &--is-top {
      font-weight: 600;
      .spg-map-overlay-control__item-dated-number {
        border: 1px solid #bbbbbb;
        border-radius: 4px;
      }
      .spg-map-overlay-control__item-dated-line {
        display: block;
        border-bottom: 1px solid @border-color;
        margin: 0 5px;
        flex-grow: 1;
      }
      .spg-map-overlay-control__item-content {
        border: 1px solid @border-color;
        border-radius: 4px;
        padding: 10px;
      }
    }
    &:hover {
      .spg-map-overlay-control__item-dated-number {
        border: 1px solid #bbbbbb;
        border-radius: 4px;
        padding: 2px 4px;
      }
    }
    &--is-under-top {

    }
    &:after {
      content: '';
      border-left: 1px solid @border-color;
      display: block;
      position: absolute;
      height: 100%;
      left: 8%;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  &__item-dated {
    font-size: 14px;
    color: #555;
    display: flex;
    align-items: center;
    width: 25%;
  }
  .spg-map-overlay-control__item-dated-number {
    padding: 3px 5px;
    background-color: white;
    z-index: 10;
  }
  &__item-title {
  }
  &__item-content {
    width: 75%;
  }
  &__item-controls {
    display: flex;
    align-items: center;
  }
  &__item-opacity-slider {
    width: 100%;
    margin-right: 30px;
  }
  &__item-zoom-to-boundaries {
    margin-left: auto;
    font-size: 11px;
    font-weight: normal;
    color: #bbbbbb;
    &:hover {
      color: #999;
    }
  }
}