<div class="spg-map-overlay-control">
    <div class="spg-map-overlay-control__onmap-block">
        <div class="spg-map-overlay-control__displayed-title" >{{'COMPARED_MAPS' | trans}}</div>
       <!--
        <span
            class="spg-map-overlay-control__swap-compared-items"
            *ngIf="comparedOverlays && comparedOverlays[0] && comparedOverlays[1]"
        >
          <i class="material-icons" title="{{'SWAP_VERTICALLY' | trans}}" (click)="swapComparedItems()">
            swap_vert
          </i>
        </span>
       -->
        <div class="spg-map-overlay-control__onmap-item" *ngFor="let overlay of comparedOverlays; let i = index">
            <div *ngIf="overlay">
                <div class="spg-map-overlay-control__onmap-item-top">
                    <span class="spg-map-overlay-control__onmap-item-date">{{overlay.dated}}</span>
                    <span class="spg-map-overlay-control__onmap-item-name">{{overlay.name}}</span>
                    <span
                            class="spg-map-overlay-control__onmap-remove"
                            (click)="removeFromCompare(overlay)"
                            title="{{'REMOVE_MAP' | trans}}"
                    >
                       <i class="material-icons">close</i>
                    </span>
                </div>
                <div class="spg-map-overlay-control__onmap-item-bottom">
                    <div class="spg-map-overlay-control__opacity-toggle" *ngIf="i === 0">
                        <div class="spg-map-overlay-control__opacity-toggle-label">Áttetszőség</div>
                        <div
                            class="spg-map-overlay-control__opacity-toggle-30"
                            [ngClass]="{'selected' : overlay.opacity === 30}"
                            (click)="setOpacity(30)"
                        >30%</div>
                        <div
                            class="spg-map-overlay-control__opacity-toggle-60"
                            [ngClass]="{'selected' : overlay.opacity === 60}"
                            (click)="setOpacity(60)"
                        >60%</div>
                        <div
                            class="spg-map-overlay-control__opacity-toggle-100"
                            [ngClass]="{'selected' : overlay.opacity === 100}"
                            (click)="setOpacity(100)"
                        >100%</div>
                    </div>
                    <!--
                    <mat-slider
                            class="spg-map-overlay-control__onmap-opacity"
                            [min]="0"
                            [max]="100"
                            [(ngModel)]="overlay.opacity"
                            *ngIf="i === 0"
                    ></mat-slider>
                    <span
                            class="spg-map-overlay-control__onmap-zoomto"
                            (click)="onFitBoundsClicked(overlay)"
                            title="{{'ZOOM_TO_MAP_BOUNDARY' | trans}}"
                    >
                       <i class="material-icons">zoom_out_map</i>
                    </span>
                    -->
                </div>
            </div>
            <div *ngIf="!overlay" class="spg-map-overlay-control__onmap-empty-item">
                {{'ADD_A_MAP' | trans}}
            </div>
        </div>
        <div class="spg-map-overlay-control__onmap-item spg-map-overlay-control__onmap-item--google">
            <span class="spg-map-overlay-control__onmap-item-date">{{'PRESENT_MAP' | trans}}</span>
            <span class="spg-map-overlay-control__onmap-item-name">{{'GOOGLE_MAPS' | trans}}</span>
        </div>
    </div>
    <div class="spg-map-overlay-control__collection-title">{{'AVALAIBLE_MAPS' | trans}}</div>
    <ul class="spg-map-overlay-control__items">
        <li
                *ngFor="let overlay of mapOverlayItems"
                class="spg-map-overlay-control__item"
                [ngClass]="{'spg-map-overlay-control__item--displayed': overlay.isDisplayed}"
                (click)="onItemClicked(overlay)"
        >
            <div class="spg-map-overlay-control__item-dated">
                <div class="spg-map-overlay-control__item-dated-number">
                    <span>{{overlay.dated}}</span>
                    <i class="material-icons spg-map-overlay-control__item-visibility">
                        visibility
                    </i>
                </div>
                <div class="spg-map-overlay-control__item-dated-line"></div>
            </div>
            <div class="spg-map-overlay-control__item-content">
                <div
                        class="spg-map-overlay-control__item-title"
                >
                    {{overlay.name}}
                </div>
            </div>
        </li>
    </ul>
</div>
