$color-white: #fff;
$color-white-60: rgba(255, 255, 255, 0.6);
$color-white-80: rgba(255, 255, 255, 0.8);
$color-black: #000;
$color-warning: #ec4712;
$color-button-color: #795548;
$color-marker: #03a9f4;
$marker-highlight-step-1: rgba(121, 85, 72, 0.95);
$marker-highlight-step-2: #795548;
$marker-highlight-step-3: rgba(121, 85, 72, 0);
$color-panorama-step-1: #03a9f4;
$color-panorama-step-2: rgba(0, 188, 212, 0);
$color-gray: #888;
$color-pomegranate: #f73f13;
