<div class="spg-image-list-item">
    <span
        *ngIf="isAdminMode"
        class="spg-image-list-item__delete spg-rounded-icon-button--small"
        (click)="deleteImage(image)"
    >
        <i class="material-icons" title="{{'DELETE_IMAGE' | trans}}" >
          delete_forever
        </i>
    </span>
    <span
            class="spg-image-list-item__open-modal spg-rounded-icon-button--small"
            (click)="openModal(image)"
    >
        <i class="material-icons" title="{{'OPEN_IN_MODAL' | trans}}" >
          open_in_new
        </i>
    </span>
    <span
            class="spg-image-list-item__point-marker spg-rounded-icon-button--small"
            (click)="pointImageMarker(image)"
            *ngIf="image.markerId"
    >
            <i class="material-icons"
               title="{{'POINT_TO_MARKER' | trans}}" >
              my_location
            </i>
        </span>
    <spg-markerlink-manager
            *ngIf="isAdminMode"
            class="spg-image-list-item__markerlinker"
            [image]="image"
            [selectedMarker]="selectedMarker"
            [isSmall]="true"
    >
    </spg-markerlink-manager>
  <img class="spg-image-list-item__img" [src]="image.url" (click)="itemClicked(image)"/>
</div>