<div class="spg-image-list-item">
    <span
        *ngIf="isAdminMode"
        class="spg-image-list-item__delete"
        (click)="deleteImage(image)"
    >
        <i class="material-icons" title="Delete this image" >
          delete_forever
        </i>
    </span>
    <span
            class="spg-image-list-item__open-modal"
            (click)="openModal(image)"
    >
        <i class="material-icons" title="Open in modal" >
          open_in_new
        </i>
    </span>
  <img class="spg-image-list-item__img" [src]="image.url" (click)="itemClicked(image)"/>
</div>