@import "../../../app.component.less";

.spg-image-list-item {
    margin: 5px;
    position: relative;
  &__img {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #cccccc;
    min-height: 100px;
  }

  &__delete {
    .spg-rounded-icon-button;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &__open-modal {
    .spg-rounded-icon-button;
    position: absolute;
    left:0;
    top: 0;
  }
  &__markerlinker {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  &__point-marker {
    .spg-rounded-icon-button;
    position: absolute;
    left: 42px;
    top: 0;
  }
}