<div
  #osmMapContainer
  class="spg-osm-map"
  id="osm-map"
  cdkDropList
  [cdkDropListDisabled]="!draggableMarkers"
  [ngStyle]="{'cursor': cursorType}"
>
  <spg-marker
    *ngFor="let point of markerPoints"
    [pointData]="point"
    (click)="onMarkerClicked(point)"
    cdkDrag
    [cdkDragDisabled]="!draggableMarkers"
    (cdkDragDropped)="markerDropped($event, point)"
  ></spg-marker>
  <spg-clusterpoint
    *ngFor="let clusterpoint of clusterPoints"
    [clusterData]="clusterpoint"
    [clusterDimension]="clusterSizeInPixels"
    [isDebug]="false"
    (click)="onClusterClicked(clusterpoint)"
  ></spg-clusterpoint>
  <spg-marker-direction
    *ngFor="let point of directionPoints"
    [pointData]="point"
  ></spg-marker-direction>
</div>
