@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
$header-border-color: #f9dcb1;
$header-height: 60px;

$red-color: #ff574b;

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}
