@import './components/map/map/map.component.less';

@image-block-width: 400px;
@icon-color: #9e94c1;

.spg-layout {
    display: flex;
    .aut-button {
        color: white;
        cursor: pointer;
        font-size: 11px;
    }
    &__auth-box {
        position: absolute;
        right: 4px;
        top: 4px;
    }
    &__auth-login {
        .aut-button;
    }
    &__auth-logout {
        .aut-button;
        display: flex;
        align-items: center;
    }
    &__header {
        position: absolute;
        background: @map-frame-color;
        z-index: 10;
        height: @map-frame-width;
        width: 100%;
    }
    &__auth-username {
        cursor: default;
        margin-right: 10px;
    }
}
.spg-map-placeholder {
    width: ~"calc(100% - @{image-block-width})";
    height: 100vh;
    position: relative;
}
.spg-images-placeholder {
    height: ~"calc(100% - @{map-frame-width})";
    width: @image-block-width;
    position: absolute;
    right: 0;
    padding-top: 10px;
    top: @map-frame-width;
    background: @map-frame-color;
}

.spg-rounded-icon-button {
    display: inline-block;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid @icon-color;
    background: #fff;
    width: 40px;
    padding: 6px;
    height: 40px;
    text-align: center;
    margin: 2px;
    color: @icon-color;
    &:hover {
        color: #333;
        border-color: #333;
    }
}