<div class="spg-layout" id="spg-layout" (click)="restartScreensaveTimeout()">
  <div class="spg__screensaver" [ngClass]="{'spg__screensaver--on' : screensaving}">
    <div class="spg__screensaver-texts">
      <div class="spg__screensaver-text-item">
        <p class="spg__screensaver-text-item-title">Interaktív térképek a Tabánról, 1750–2000</p>
        <p>Érintse meg a képernyőt és tanulmányozza őket!</p>
      </div>
      <div class="spg__screensaver-text-item">
        <p class="spg__screensaver-text-item-title">Интерактивне карте Табана, 1750–2000</p>
        <p>Додирните екран и погледајте их изблиза!</p>
      </div>
      <div class="spg__screensaver-text-item">
        <p class="spg__screensaver-text-item-title">Interactive Maps of Tabán in the years 1750–2000</p>
        <p>Touch the screen and have a closer look!</p>
      </div>
    </div>
  </div>
  <div class="spg-layout__header">
    <span class="spg-layout__logo">
        mapPinner
      </span>
    <div class="spg-layout__auth-box">
      <span
              class="spg-layout__auth-login"
              *ngIf="!(user$ | async)"
              (click)="logIn()"
      >
          <i class="material-icons md-18">
            account_circle
          </i>
      </span>
      <div
              class="spg-layout__auth-logout"
              *ngIf="user$ | async"
              (click)="logOut()"
      >
        <span class="spg-layout__auth-username" >{{userEmail}}</span>
        <i class="material-icons md-18">
          exit_to_app
        </i>
      </div>
    </div>
    <span (click)="toggleFullscreen()" class="spg-layout__fullscreen-toggle">
      <i class="material-icons spg-layout__fullscreen-toggle-icon" *ngIf="!isFullscreen">
        fullscreen
      </i>
      <i class="material-icons spg-layout__fullscreen-toggle-icon" *ngIf="isFullscreen">
        fullscreen_exit
      </i>
    </span>
  </div>
  <div class="spg-map-placeholder">
    <spg-map
            [pointedMarkerId$]="pointedMarkerId$"
            (markerSelectionChanged$)="markerSelectionChanged($event)"
    >
    </spg-map>
  </div>
  <div class="spg-images-placeholder">
    <spg-image-control
      [selectedMarker]="selectedMarker"
      (pointImageMarker$)="pointImageMarker($event)"
    ></spg-image-control>
  </div>
</div>

