@import './components/map/map/map.component.less';

@image-block-width: 400px;
@header-height: 50px;
@icon-color: #9e94c1;
@primary-bg-color: #fff8dd;
@secondary-bg-color: #fffefc;
@primary-text-color: #444;
@border-color: #ccc;

@header-zet-index: 20;
body {
    color: @primary-text-color;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #ffedb6;
}
::-webkit-scrollbar-thumb {
    background-color: #ffd740;
}
.spg-layout {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .aut-button {
        cursor: pointer;
        font-size: 12px;
        margin-left: 10px;
    }
    &__logo {
        margin-left: 20px;
        font-style: italic;
        text-shadow: 1px 1px #fff;
        color: #555555;
    }
    &__fullscreen-toggle {
        cursor: pointer;
        margin-left: auto;
        margin-right: 10px;
        &-icon {
            font-size: 28px;
        }
    }
    &__auth-box {
        color: @primary-bg-color;
        &:hover {
            color: #333;
        }
    }
    &__auth-login {
        .aut-button;
    }
    &__auth-logout {
        .aut-button;
        display: flex;
        align-items: center;
    }
    &__header {
        position: absolute;
        background: @primary-bg-color;
        z-index: @header-zet-index;
        height: @header-height;
        width: 100%;
        display: flex;
        align-items: center;
        box-shadow: 0px 4px 4px 0px rgba(204, 204, 204, 0.15);
    }
    &__auth-username {
        cursor: default;
        margin-right: 10px;
    }
}
.spg-map-placeholder {
    width: ~"calc(100% - @{image-block-width})";
    height: ~"calc(100% - @{header-height})";
    position: absolute;
    transform: translate(0, @header-height);
}
.spg-images-placeholder {
    height: ~"calc(100% - @{header-height})";
    width: @image-block-width;
    position: absolute;
    right: 0;
    top: @header-height;
    z-index: @header-zet-index - 1;
}

.spg-rounded-icon-button {
    display: inline-block;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid @icon-color;
    background: #fff;
    width: 40px;
    padding: 6px;
    height: 40px;
    text-align: center;
    margin: 2px;
    color: @icon-color;
    &:hover {
        color: #333;
        border-color: #333;
    }
    &.spg-rounded-icon-button--small {
        width: 32px;
        padding: 4px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        .material-icons {
            font-size: 18px;
            line-height: 18px;
        }
    }
}

.spg-link-off-button-replace {
    background: url('../assets/images/baseline-link_off-24px.svg');
    display: inline-block;
    width: 24px;
    height: 24px;
}
