@import "../../../app.component.less";

.spg-head-image {
  width: 100%;
  position: relative;
  .spg-head-image__delete {
    .spg-rounded-icon-button;
    position: absolute;
    top: -12px;
    right: -12px;
  }
  &__img-content {
    width: 100%;
    border-radius: 6px;
  }
}