<div class="spg-head-image">
    <div class="spg-head-image__img" *ngIf="image">
        <div>
            <span
                *ngIf="isAdminMode"
                class="spg-head-image__delete"
                (click)="deleteImage(image)"
            >
           <i class="material-icons" title="Delete this image" >
              delete_forever
           </i>
        </span>
        <span
                class="spg-head-image__open-modal"
                (click)="openModal(image)"
        >
            <i class="material-icons" title="Open in modal" >
              open_in_new
            </i>
        </span>
            <span
                    class="spg-head-image__close"
                    (click)="close()"
            >
            <i class="material-icons" title="Close" >
              close
            </i>
        </span>
            <span
                    class="spg-head-image__point-marker"
                    (click)="pointImageMarker(image)"
                    *ngIf="image.markerId"
            >
            <i class="material-icons" title="Point the marker" >
              my_location
            </i>
        </span>
            <span
                    class="spg-head-image__save"
                    *ngIf="isAdminMode"
                    (click)="save(image)"
                    [ngClass]="{'spg-head-image__save--unsaved': isUnsaved}"
            >
           <i class="material-icons" title="Save the changes" >
              save
           </i>
        </span>
        </div>
        <spg-markerlink-manager
            *ngIf="isAdminMode"
            class="spg-head-image__markerlinker"
            [image]="image"
            [selectedMarker]="selectedMarker"
        >
        </spg-markerlink-manager>
        <img
                class="spg-head-image__img-content"
                [src]="image.url"
        />
    </div>
    <div *ngIf="!isAdminMode && image" class="spg-head-image__text-wrapper spg-head-image__text-wrapper--static">
        <div class="spg-head-image__img-date">{{image.dated || 'No date'}}</div>
        <div class="spg-head-image__img-title">{{image.title || 'No title'}}</div>
        <div class="spg-head-image__img-description">{{image.description || 'No description'}}</div>
    </div>
    <div
            *ngIf="isAdminMode && image"
            class="spg-head-image__text-wrapper"
    >
        <input
                type="number"
                class="spg-head-image__img-date"
                [(ngModel)]="image.dated"
                placeholder="Year"
                (input)="dataChanged()"
        />
        <input
                type="text"
                class="spg-head-image__img-title"
                [(ngModel)]="image.title"
                placeholder="Title"
                (input)="dataChanged()"
        />
        <input
                type="text"
                class="spg-head-image__img-description"
                [(ngModel)]="image.description"
                placeholder="Description"
                (input)="dataChanged()"
        />
    </div>
</div>