<div class="spg-head-image">
    <div class="spg-head-image__img" *ngIf="image">
        <div>
            <span
                *ngIf="isAdminMode"
                class="spg-head-image__delete"
                (click)="deleteImage(image)"
                title="{{'DELETE_IMAGE' | trans}}"
            >
           <i class="material-icons">
              delete_forever
           </i>
        </span>
            <!--
        <span
                class="spg-head-image__open-modal"
                (click)="openModal(image)"
                title="{{'OPEN_IN_MODAL' | trans}}"
        >
            <i class="material-icons" >
              open_in_new
            </i>
        </span>
        -->
            <span
                    class="spg-head-image__close spg-rounded-icon-button--large"
                    (click)="close()"
                    title="{{'CLOSE_IMAGE' | trans}}"
            >
            <i class="material-icons">
              close
            </i>
        </span>
            <span
                    class="spg-head-image__point-marker spg-rounded-icon-button--large"
                    (click)="pointImageMarker(image)"
                    *ngIf="image.markerId"
                    title="{{'POINT_IMAGE' | trans}}"
            >
            <i class="material-icons" title="Point the marker" >
              my_location
            </i>
        </span>
            <span
                    class="spg-head-image__save"
                    *ngIf="isAdminMode"
                    (click)="save(image)"
                    [ngClass]="{'spg-head-image__save--unsaved': isUnsaved}"
                    title="{{'SAVE_IMAGE' | trans}}"
            >
           <i class="material-icons" >
              save
           </i>
        </span>
        </div>
        <spg-markerlink-manager
            *ngIf="isAdminMode"
            class="spg-head-image__markerlinker"
            [image]="image"
            [selectedMarker]="selectedMarker"
        >
        </spg-markerlink-manager>
        <i class="material-icons spg-head-image__hover-icon" >
            zoom_in
        </i>
        <img
                class="spg-head-image__img-content"
                [src]="image.url"
                (click)="openModal(image)"
        />
    </div>
    <div *ngIf="!isAdminMode && image" class="spg-head-image__text-wrapper spg-head-image__text-wrapper--static">
        <div class="spg-head-image__img-date">{{image.dated || ('WITHOUT_DATE' | trans)}}</div>
        <div class="spg-head-image__img-title">{{image.title || ('WITHOUT_TITLE' | trans)}}</div>
        <div class="spg-head-image__img-description">{{image.description || ('WITHOUT_DESCRIPTION' | trans)}}</div>
    </div>
    <div
            *ngIf="isAdminMode && image"
            class="spg-head-image__text-wrapper"
    >
        <input
                type="number"
                class="spg-head-image__img-date"
                [(ngModel)]="image.dated"
                placeholder="{{'IMAGE_DATED' | trans }}"
                (input)="dataChanged()"
        />
        <input
                type="text"
                class="spg-head-image__img-title"
                [(ngModel)]="image.title"
                placeholder="{{'IMAGE_TITLE' | trans}}"
                (input)="dataChanged()"
        />
        <input
                type="text"
                class="spg-head-image__img-description"
                [(ngModel)]="image.description"
                placeholder="{{'IMAGE_DESCRIPTION' | trans}}"
                (input)="dataChanged()"
        />
    </div>
</div>