.spg-marker {
  position: relative;
  width: 0;
  height: 0;

  &__sign {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
  }
}
