@import '../../../app.component.less';

@map-z-index: 0;
@map-frame-border-color: #bbb;
@map-frame-color: #dc3545;
@map-control-width: 420px;
@map-move-control-dimension: 210px;

agm-map {
  height: 100%;
}
.spg-map {
  width: 100%;

  &__mapoverlay-control-wrapper {
    position: absolute;
    width: @map-control-width;
    height: 100%;
    z-index: @map-z-index + 1;
  }
  &__agm-wrapper {
    position: absolute;
    height: 100%;
    width: ~'calc(100% - @{map-control-width})';
    transform: translate(@map-control-width, 0);
  }
}


@zooom-control-width: 80px;
@zoom-control-height: 160px;
@zoom-control-border-color: #bbb;
.spg-map-zoom-control {
  position: absolute;
  bottom: 50%;
  right: -1px;
  width:@zooom-control-width;
  height: @zoom-control-height;
  z-index: @map-z-index + 1;
  background: #ffffff;
  font-size: 40px;
  font-family: initial;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid @zoom-control-border-color;
  color: #999;
  user-select: none;
  &__item {
    text-align: center;
    line-height: @zoom-control-height / 2;
    &:first-child {
      border-bottom: 1px solid @zoom-control-border-color;
    }
    &:hover {
      color: #222;
      cursor: pointer;
    }
  }
}

.spg-map__marker-editor-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: @map-z-index + 1;
  width: 500px;
}
.spg-map-move-control-item {
  position: absolute;
  cursor: pointer;
  user-select: none;
  width: @map-move-control-dimension / 3;
  height: @map-move-control-dimension / 3;
  border-radius: 4px;
  border: solid 1px @zoom-control-border-color;
  display: flex;
  align-items: center;
  justify-items: center;
  color: #999;
  background: #fff;
  .material-icons {
    font-size: 30px;
    margin: 0 auto;
  }

  &:hover {
    .material-icons {
      color: #333;
    }
  }
}
.spg-map-move-control {
  position: absolute;
  width: @map-move-control-dimension;
  height: @map-move-control-dimension;
  right: 10px;
  bottom: 10px;
  z-index: @map-z-index + 1;
  display: flex;
  align-items: center;
  justify-content: center;
  &__left {
    .spg-map-move-control-item;
    top: @map-move-control-dimension / 3;
    left: 0;
  }
  &__right {
    .spg-map-move-control-item;
    right: 0;
    top: @map-move-control-dimension / 3;
  }
  &__up {
    .spg-map-move-control-item;
    left: @map-move-control-dimension / 3;
    top: 0;
  }
  &__down {
    .spg-map-move-control-item;
    bottom: 0;
    left: @map-move-control-dimension / 3;
  }
  &__center {
    background: #fff;
    padding: 10px;
    border-radius: 100%;
    border: 1px solid @zoom-control-border-color;
    color: @zoom-control-border-color;
  }
}