@map-z-index: 0;
@map-frame-border-color: #bbb;
@map-frame-color: #dc3545;
@map-control-width: 420px;
agm-map {
  height: 100%;
}
.spg-map {
  width: 100%;

  &__mapoverlay-control-wrapper {
    position: absolute;
    width: @map-control-width;
    height: 100%;
    z-index: @map-z-index + 1;
  }
  &__agm-wrapper {
    position: absolute;
    height: 100%;
    width: ~'calc(100% - @{map-control-width})';
    transform: translate(@map-control-width, 0);
  }
}


@zooom-control-width: 60px;
@zoom-control-height: 100px;
@zoom-control-border-color: #bbb;
.spg-map-zoom-control {
  position: absolute;
  bottom: 50%;
  right: -1px;
  width:@zooom-control-width;
  height: @zoom-control-height;
  z-index: @map-z-index + 1;
  background: #ffffff;
  font-size: 40px;
  font-family: initial;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid @zoom-control-border-color;
  color: #999;
  user-select: none;
  &__item {
    text-align: center;
    line-height: @zoom-control-height / 2;
    &:first-child {
      border-bottom: 1px solid @zoom-control-border-color;
    }
    &:hover {
      color: #222;
      cursor: pointer;
    }
  }
}

.spg-map__marker-editor-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: @map-z-index + 1;
  width: 500px;
}