<div class="spg-map">
  <spg-map-control
    class="spg-map__mapoverlay-control-wrapper"
    [mapOverlayItems]="mapOverlayItems"
    ($onItemClicked)="onOverlayControlItemClicked($event)"
  ></spg-map-control>
  <agm-map
    [latitude]="mapOptions.latitude"
    [longitude]="mapOptions.longitude"
    [zoom]="mapOptions.zoom"
  >
    <spg-map-overlay
      *ngFor="let overlay of mapOverlayItems"
      [north]="overlay.north"
      [west]="overlay.west"
      [east]="overlay.east"
      [south]="overlay.south"
      [minZoomDisplay]="overlay.minZoom"
      [maxZoomDisplay]="overlay.maxZoom"
      [opacity]="50"
    ></spg-map-overlay>
  </agm-map>
</div>
