<div class="spg-map">
    <div class="spg-map-frame">
    </div>
    <div class="spg-map-zoom-control">
        <div class="spg-map-zoom-control__item" (click)="zoomIn($event)">&#43;</div>
        <div class="spg-map-zoom-control__item" (click)="zoomOut($event)">&#8722;</div>
    </div>
    <spg-map-control
        class="spg-map__mapoverlay-control-wrapper"
        [mapOverlayItems]="mapOverlayItems"
        [isGoogleMapOnTop]="isGoogleMapOnTop"
        ($onItemSelected)="onOverlayControlItemSelected($event)"
        ($onGoogleMapsSelected)="onGoogleMapsSelected($event)"
        ($onFitToMapBounds)="onFitTomMapBounds($event)"
    ></spg-map-control>
    <agm-map
        [latitude]="mapOptions.latitude"
        [longitude]="mapOptions.longitude"
        [zoom]="mapOptions.zoom"
        [styles]="mapOptions.styles"
        [fitBounds]="mapOptions.fitBounds"
        [zoomControl]="false"
        [zoomControlOptions]="mapOptions.zoomControlOptions"
        [streetViewControl]="false"
        [clickableIcons]="false"
        [maxZoom]="mapOptions.maxZoom"
        (boundsChange) = "onBoundsChange($event)"
        (zoomChange) = "onZoomChange($event)"
        (centerChange) = "onCenterChange($event)"
        (mapClick)="onMapClick($event)"
    >
        <agm-marker-cluster
                [styles]="clusterStyles"
                [averageCenter]="true"
                [gridSize]="60"
                [minimumClusterSize]="3"
                [zoomOnClick] = "true"
        >
            <spg-marker
                    *ngFor="let point of points"
                    [options]="point"
            ></spg-marker>

        </agm-marker-cluster>
          <spg-map-overlay
            *ngFor="let overlay of mapOverlayItems"
            [minZoomDisplay]="overlay.minZoom"
            [maxZoomDisplay]="overlay.maxZoom"
            [opacity]="overlay.opacity"
            [isDisplayed]="overlay.isDisplayed"
            [src] = "overlay.src"
            [zIndex]="overlay.zIndex"
            [id]="overlay.id"
            [bounds]="overlay.bounds"
        ></spg-map-overlay>
    </agm-map>
</div>
