<div class="spg-home">
  <div class="spg-home__body">
    <spg-osm-map
      class="spg-home__map"
      [markers]="markerList"
      (mapBoundaryChanged$)="mapBoundaryChanged($event)"
      [draggableMarkers]="false"></spg-osm-map>
    <div class="spg-home__image-side">
      <spg-image-list [images]="images"></spg-image-list>
    </div>
  </div>

  <spg-map-selector-footer class="spg-home__footer" [pastMaps]="pastMaps" [presentMaps]="presentMaps" (mapSelected$)="selectPastMap($event)"></spg-map-selector-footer>
</div>
