@import '../../../styles';

.spg-home {
  height: 100%;

  &__body {
    display: flex;
    height: calc(100% - #{$map-selector-footer-height});
  }

  &__map {
    flex-grow: 1;
    height: 100%;
  }

  &__image-side {
    width: 400px;
    margin: 10px 0;
    padding: 0 10px;
    overflow-y: auto;
  }
}
