.spg-home {
  display: flex;
  height: 100%;

  &__map {
    flex-grow: 1;
    height: 100%;
  }

  &__image-side {
    width: 400px;
    margin: 10px 0;
    padding: 0 10px;
    overflow-y: auto;
  }
}
