<div class="spg-dashboard">
  <div class="spg-dashboard__map">
    <spg-osm-map
      [markers]="markerList"
      [cursorType]="markerCreationMode ? 'crosshair' : null"
      (markerClicked)="onMarkerClicked($event)"
      (markerRepositioned)="onMarkerRepositioned($event)"
      (mapClicked)="onMapClicked($event)"
      (mapBoundaryChanged$)="mapBoundaryChanged($event)"
    ></spg-osm-map>
  </div>
  <div class="spg-dashboard__editor-pane" #editorpane >
    <div class="spg-dashboard__marker-editor">
      <div class="spg-dashboard__marker-editor-header">
        <span class="spg-dashboard__marker-editor-header-title">{{'dashboard.marker-edit.title' | translate}}</span>
        <spg-icon-button
          iconId="add_circle"
          class="spg-dashboard__add-marker-add-button material-icons"
          (click)="addMarker()"
          *ngIf="!markerCreationMode"
          [title]="'dashboard.add-marker.title' | translate"
        >
        </spg-icon-button>
        <spg-icon-button
          class="spg-dashboard__cancel-marker-add-button material-icons"
          iconId="cancel"
          (click)="cancelAddMarker()"
          *ngIf="markerCreationMode"
          [title]="'dashboard.cancel-adding-marker.title' | translate"
        >
        </spg-icon-button>
      </div>
      <spg-marker-editor
        [point]="selectedMarker"
        (pointDeselected$)="deselectMarker()"
        (pointChanged$)="markerChanged()"
        (deleteSelected$)="deleteMarker()"
      ></spg-marker-editor>
    </div>
    <div *ngIf="selectedMarker">
      <mat-expansion-panel [expanded]="linkedImageList.length" [disabled]="!linkedImageList.length">
        <mat-expansion-panel-header>
          <h5 class="spg-dashboard__linked-images-title">{{linkedImageList.length}} {{'dashboard.linked-images.title' | translate}}</h5>
        </mat-expansion-panel-header>
        <div>
          <spg-image-box
            *ngFor="let image of linkedImageList"
            [imageData]="image"
            [canPoint]="false"
            [canUnlink]="true"
            (removeMarker$)="removeMarker($event)"
            (deleteImage$)="deleteImage($event)"
          >{{image.id}}</spg-image-box>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="!linkedImageList.length">
        <mat-expansion-panel-header>
          <h5 class="spg-dashboard__free-images-title">{{freeImageList.length}} {{'dashboard.free-images.title' | translate}}</h5>
        </mat-expansion-panel-header>
        <div>
          <spg-image-box
            *ngFor="let image of freeImageList"
            [imageData]="image"
            [canLink]="true"
            [canPoint]="true"
            (pointMarker$)="pointMarkerFromImage($event)"
            (linkToMarker$)="linkImageToMarker($event)"
            (deleteImage$)="deleteImage($event)"
          >{{image.id}}</spg-image-box>
        </div>
      </mat-expansion-panel>
    </div>
    <div *ngIf="!selectedMarker">
      <div class="spg-dashboard__full-images-header">
        <h5 class="spg-dashboard__all-images-title">
          {{'dashboard.all-images.title' | translate}}
          <spg-file-selector (fileSelected$)="uploadImage($event)"></spg-file-selector>
        </h5>
        <div class="spg-dashboard__image-filters">filters</div>
      </div>
      <div>
        <spg-image-box
          *ngFor="let image of fullImageList"
          [imageData]="image"
          (pointMarker$)="pointMarkerFromImage($event)"
          (deleteImage$)="deleteImage($event)"
        ></spg-image-box>
      </div>
    </div>
  </div>
</div>
