<div class="spg-image-control" [ngClass]="{'spg-image-control--has-head-image': selectedImage}">
    <div class="spg-image-control__head-image" >
        <spg-head-image
            [isAdminMode]="isAdminMode"
            [image]="selectedImage"
            [selectedMarker]="selectedMarker"
            [selectedImageIndex]="selectedImageIndex"
            (deleteImage$)="deleteImage($event)"
            (updateImage$)="updateImage($event)"
            (openImageModal$)="openImageModal($event)"
            (pointImageMarker$)="pointImageMarker($event)"
            (clearHeadImage$)="clearHeadImage()"
            (changeSelectedImageIndex$)="imageIndexChanged($event)"
        ></spg-head-image>
    </div>
    <div class="spg-image-control__image-list">
        <spg-image-list
            (imageSelected$)="imageLoadFromList($event)"
            (queryChanged$)="queryChanged($event)"
            (openImageModal$)="openImageModal($event)"
            [isAdminMode]="isAdminMode"
            [imageList]="imageList"
            [selectedMarker]="selectedMarker"
            (pointImageMarker$)="pointImageMarker($event)"
            (fileSelected$)="fileSelected($event)"
        ></spg-image-list>
    </div>
</div>
