<div class="spg-image-control">
    <div class="spg-image-control__head-image">
        <spg-file-selector
                class="spg-head-image__add-new"
                *ngIf="isAdminMode"
                (fileSelected$)="fileSelected($event)"
        ></spg-file-selector>
        <spg-head-image
            [isAdminMode]="isAdminMode"
            [image]="selectedImage"
            (deleteImage$)="deleteImage($event)"
            (updateImage$)="updateImage($event)"
        ></spg-head-image>
    </div>
    <div class="spg-image-control__image-list">
        <spg-image-list
            (imageSelected$)="imageLoadFromList($event)"
            (queryChanged$)="queryChanged($event)"
            [isAdminMode]="isAdminMode"
            [imageList]="imageList"
        ></spg-image-list>
    </div>
</div>
