@image-control-height: 40px;
.spg-image-list {
  height: 100%;
  &__control {
    height: @image-control-height;
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  &__items-wrapper {
    display: flex;
    overflow-y: auto;
    height: ~"calc(100% - @{image-control-height})";
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #f44336;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #ffc1c1;
    }
  }
  &__first-col {
    width: 50%;
  }
  &__second-col {
    width: 50%;
  }
  &__add-new {
    position: absolute;
    left: -24px;
    top: -24px;
  }
  &__sorter {
    display: flex;
    cursor: pointer;
    margin-right: auto;
  }
  &__sorter-arrow {
    transform: rotate(0deg);
    display: inline-block;
    transition: transform 0.2s ease;
    .spg-image-list__sorter--down & {
      transform: rotate(180deg);
    }
  }
  &__has-location {
    margin-bottom: -8px;
    margin-right: 4px;
  }
  &__clear {
    cursor: pointer;
  }
  &__no-images {
    color: #ffffff;
  }
}