<div class="spg-image-list">
    <div class="spg-image-list__control">
      <span class="spg-image-list__sorter" (click)="toggleUploadSort()">
          <span *ngIf="sortedDesc">Last Uploaded</span>
          <span *ngIf="!sortedDesc">First Uploaded</span>
      </span>
      <input type="text" [(ngModel)]="searchText" />
      <span (click)="filter()">filter</span>
    </div>
    <div class="spg-image-list__items">
        <div class="spg-image-list__first-col">
            <spg-image-list-item
                *ngFor="let image of imageListFirstCol"
                [image]="image"
                [isAdminMode]="isAdminMode"
                (imageClicked$)="onItemClicked($event)"
            ></spg-image-list-item>
        </div>
        <div class="spg-image-list__second-col" >
            <spg-image-list-item
                    *ngFor="let image of imageListSecondCol"
                    [image]="image"
                    [isAdminMode]="isAdminMode"
                    (imageClicked$)="onItemClicked($event)"
            ></spg-image-list-item>
        </div>
    </div>
</div>
