<div class="spg-image-list">
    <div class="spg-image-list__control">
        <span
                class="spg-image-list__sorter"
                (click)="toggleUploadSort()"
                [ngClass]="{'spg-image-list__sorter--down': sortedDesc}"
                *ngIf="isAdminMode"
        >
            <span>
              {{'ORDER_BY_TIME' | trans}}
            </span>
            <i class="material-icons spg-image-list__sorter-arrow">
                expand_less
            </i>
        </span>
        <mat-checkbox
            class="spg-image-list__has-location"
            *ngIf="isAdminMode"
            [(ngModel)]="noLocationQuery"
            (change)="noLocationQueryChanged()"
        >{{'NO_LOCATION' | trans}}</mat-checkbox>
        <div
            *ngIf="isFiltered"
            class="spg-image-list__clear"
            (click)="clearQuery()"
        >
            <span>{{'FILTERED_IMAGES' | trans}}</span>
            <span class="spg-image-list__clear-button">{{'CLEAR_FILTERS' | trans}}</span>
        </div>
        <spg-file-selector
                class="spg-image-list__add-new"
                *ngIf="isAdminMode"
                (fileSelected$)="fileSelected($event)"
        ></spg-file-selector>
    </div>
    <div class="spg-image-list__no-images" *ngIf="imageList && !imageList.length">{{'NO_IMAGES' | trans}}</div>
    <div class="spg-image-list__items-wrapper spg-scrolling" #scrollcontainer >
        <div class="spg-image-list__first-col">
            <spg-image-list-item
                *ngFor="let image of imageListFirstCol"
                [image]="image"
                [isAdminMode]="isAdminMode"
                [selectedMarker]="selectedMarker"
                (imageClicked$)="onItemClicked($event)"
                (openImageModal$)="openImageModal($event)"
                (pointImageMarker$)="pointImageMarker($event)"
            ></spg-image-list-item>
        </div>
        <div class="spg-image-list__second-col" >
            <spg-image-list-item
                    *ngFor="let image of imageListSecondCol"
                    [image]="image"
                    [isAdminMode]="isAdminMode"
                    [selectedMarker]="selectedMarker"
                    (imageClicked$)="onItemClicked($event)"
                    (openImageModal$)="openImageModal($event)"
                    (pointImageMarker$)="pointImageMarker($event)"
            ></spg-image-list-item>
        </div>
    </div >
</div>
