.spg-image-list {
  height: ~'calc(100% - 100px)';
  &__items {
    height: ~'calc(100% - 200px)';
    overflow-y: auto;
    display: flex;
  }
  &__first-col {
    width: 50%;
  }
  &__second-col {
    width: 50%;
  }
}